* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
}

/* #NiceAndSimple: Main - margin:auto */

a {
  /* color: white; */
  transition: all 0.2s;
}
a:hover {
  opacity: 0.6;
}
a:active {
  opacity: 1;
}
input[type="file"]::-webkit-file-upload-button,
input[type="file"]::file-selector-button {
  @apply text-white bg-gray-900  font-medium text-sm cursor-pointer border-0 py-2.5 pl-8 pr-4;
  margin-inline-start: -1rem;
  margin-inline-end: 1rem;
}
